html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}
.column {
  display: flex;
  flex-flow: column nowrap;
}
.row {
  display: flex;
  flex-flow: row wrap;
}
.span-1 {
  flex: 1 0 8.33%;
}
.span-2 {
  flex: 2 0 16.67%;
}
.span-3 {
  flex: 3 0 25%;
}
.span-4 {
  flex: 4 0 41.67%;
}
.span-5 {
  flex: 5 0 41.67%;
}
.span-6 {
  flex: 6 0 50%;
}
.span-7 {
  flex: 7 0 58.33%;
}
.span-8 {
  flex: 8 0 66.67%;
}
.span-9 {
  flex: 9 0 75%;
}
.span-10 {
  flex: 10 0 83.33%;
}
.span-11 {
  flex: 11 0 91.67%;
}
.span-12 {
  flex: 12 0 100%;
}
