body {
  background-color: rgb(39, 39, 39);
  font-size: 32px;
}
.row > * {
  background-color: deepskyblue;
  min-height: 1rem;
  border: 2px solid rgb(255, 0, 21);
}
.column > * {
  background-color: rgb(177, 95, 95);
  min-height: 1rem;
  border: 2px solid rgb(4, 4, 228);
}
footer {
  margin-top: auto;
}
.columnhelper {
  height: 480px;
}

.row.center,
.column.center {
  justify-content: center;
}

.row.center *,
.column.center * {
  flex-grow: 0;
}

.end {
  justify-content: flex-end;
}

:root {
  --grid-size: 2;
}
